@import './restaurants.scss';


.restaurant--logo--text{
    color: $white;
    text-decoration: none;
}
.restaurant--logo--wrapper{
    margin-right: 50%;
}
.newRest--wrapper{
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
}
.newRest--heading{
    background: #1a6191;
    border-radius: 14px;
    color: $white;
    font-size: 3.5rem;
    font-weight: bold;
    margin-top: 3rem;
    padding: 1rem;
    text-align: center;
}
.newRest--form{
    background: #1a6191;
    border-radius: 14px;
    margin-top: 3rem;
    padding: 1rem;
}
.newRest--form--heading{
    color: $white;
    font-size: 3rem;
    margin-bottom: 2rem;
}
.newRest--form--text--wrapper{
    display: flex;
    align-content: space-around;
}
.newRest--form--textbox{
    border: none;
    border-radius: 14px;
    flex: 1 ;
    font-size: 1.8rem;
    height: 5rem;
    margin-right: 1rem;
    padding: 1rem;
    width: 28rem;
}
.list--edit{
    flex: 0;
    font-size: 1.4rem;
    height: 5rem;
}

.newRest--button--add{
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
    margin-right: 1rem;
    
}