<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div>
        <div>
            <h1>Nobody ate {{menu.name}} anyway... right?</h1>
        </div>
        <div>
            <form action="{{ url_for('deleteMenuItem', restaurant_id=menu.restaurant_id, menuItem_id=menu.id,) }}" method="POST">
                <p>Do you really want to delete {{menu.name}} and its data forever?</p>
                <input name='redirect' type='submit' value='Get me outta here'>
                <input name='delete' type='submit' value='Yeah get rid of {{menu.name}}'>
            </form>
            
        </div>
    </div>
</body>
</html>