<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div>
        <div>
            <h1>Whoops what were we thinking?</h1>
        </div>
        <div>
            <form action="{{ url_for('editRestaurant', restaurant_id=restaurant.id) }}" method="POST">
                <p>Edit Restaurant Name:</p>
                <input name='editedRestaurantName' type='text' placeholder='{{restaurant.name}}'>
                <input type='submit' value='Edit Name'>
            </form>
        </div>
    </div>
</body>
</html>