<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Contribute a new menu item for {{restaurant.name}}</h1>
    <form method='POST' enctype="multipart/form-data">
        <p>New menu item name:</p>
        <input name='menuName' type='text' placeholder='Menu item name'>
        <p>New menu item price:</p>
        <input name='menuPrice' type='text' placeholder='$0.00'>
        <p>New menu item course:</p>
        <input name='menuCourse' type='text' placeholder='entree'>
        <p>New menu item description:</p>
        <input name='menuDescription' type='text' placeholder='describe the menu item'>
        <input type='Submit' value='Add Menu Item'>
    </form>
    
</body>
</html>