<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div>
        <div>
            <h1>Tastee</h1>
        </div>
        <div>
            <h2>Whats on the menu at {{restaurant.name}}:</h2>
        </div>
        <div>
            <form action="{{ url_for('showMenu', restaurant_id=restaurant.id) }}" method="POST">
                <input name='addMenuItem' type='Submit' value='Add a menu item'>
            </form>
        </div>
        {% for item in menu %}
            <div>
            <a>{{item.name}}</a>
            <a>{{item.price}}</a>
            <a>{{item.description}}</a>
            <a>{{item.course}}</a>
            <a href="{{ url_for('editMenuItem', restaurant_id=restaurant.id, menuItem_id=item.id) }}">Edit</a>
            <a href="{{ url_for('deleteMenuItem', restaurant_id=restaurant.id, menuItem_id=item.id) }}">Delete</a>
            </div>
        {% endfor %}
    </div>
</body>
</html>