<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div>
        <div>
            <h1>Tastee</h1>
        </div>
        <div>
            <h3>Find the best Tasteeng restaurants around!</h3>
        </div>
        <div>
            <form action="{{ url_for('restaurants') }}" method="POST">
                <input name='addRestaurant' type='Submit' value='Add a restaurant'>
            </form>
        </div>
        {% for restaurant in restaurants %}
            <div>
            <a href="{{ url_for('showMenu', restaurant_id=restaurant.id) }}">{{restaurant.name}}</a>
            <a href="{{ url_for('editRestaurant', restaurant_id=restaurant.id) }}">Edit</a>
            <a href="{{ url_for('deleteRestaurant', restaurant_id=restaurant.id) }}">Delete</a>
            </div>
        {% endfor %}
    </div>
</body>
</html>