<html lang="en" itemscope itemtype="http://schema.org/Article">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/restaurants.css') }}">
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
    </script>
    <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer>
    </script>

    <script>
        function start() {
            gapi.load('auth2', function() {
            auth2 = gapi.auth2.init({
            client_id: '1090073792352-i22ip09eeb2pqke3djl8p1jhtqsa0sd6.apps.googleusercontent.com'
            // Scopes to request in addition to 'profile' and 'email'
            //scope: 'additional_scope'
        });
      });
    }
  </script>

    <title>Tastee</title>
</head>
<body>
    <div class="restaurant">
        <div class="restaurant--nav">
            <div class="restaurant--logo--wrapper">
                <div class="restaurant--logo">
                    <object class="restaurant--logo" type="image/svg+xml" data="{{ url_for('static', filename='images/tastee_burger.svg') }}"></object>
                </div>
                <div class="restaurant--logo--text">
                    <p>Tastee</p>
                </div>
            </div>
            
            <div>
                <form action="{{ url_for('restaurants') }}" method="POST">
                    <input class='restaurant--add--button' name='addRestaurant' type='Submit' value='Add a restaurant'>
                </form>
            </div>

            <div>
                <button id="signinButton">Sign in with Google</button>
                <script>
                    $('#signinButton').click(function() {
                    // signInCallback defined in step 6.
                    auth2.grantOfflineAccess().then(signInCallback);
                    });
                </script>
            </div>

        </div>

        <div class="restaurant--slogan">
                <p>Find the best "Tasteeing" restaurants around!</p>
        </div>

        <div class="restaurant--list">

                

            {% for restaurant in restaurants %}
                <div class="restaurant--listItem">
                    <div class="list--name--wrapper">
                        <a class="list--name" href="{{ url_for('showMenu', restaurant_id=restaurant.id) }}">{{restaurant.name}}</a>
                    </div>
                    <div class="list--button--wrapper">
                        <a class="list--edit" href="{{ url_for('editRestaurant', restaurant_id=restaurant.id) }}">Edit</a>
                        <a class="list--delete" href="{{ url_for('deleteRestaurant', restaurant_id=restaurant.id) }}">Delete</a>
                    </div>    
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>