<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../static/css/delRestauarant.css">
    <title>Document</title>
</head>
<body>
    <div>
        <div class="restaurant">
            <div class="restaurant--nav">
                <div class="restaurant--logo--wrapper--menu">
                    <div class="restaurant--logo">
                        <object class="restaurant--logo" type="image/svg+xml" data="{{ url_for('static', filename='images/tastee_burger.svg') }}"></object>
                    </div>
                    <div class="restaurant--logo--text">
                        <a class="restaurant--logo--text" href="{{ url_for('restaurants') }}">Tastee</a>
                    </div>
                </div>
                
                <div>
                    <form action="{{ url_for('showMenu', restaurant_id=restaurant.id) }}" method="POST">
                        <input class='restaurant--add--button' name='addMenuItem' type='Submit' value='Add a menu item'>
                    </form>
                </div>
            </div>
        <div class="restaurant--slogan">
            <p>Whats on the menu at {{restaurant.name}}:</p>
        </div>
        
        <div class="restaurantMenu--list">
            {% for item in menu %}
            <div class="restaurantMenu--listItem">
                <div class="restaurantMenu--name--wrapper">
                    <a>{{item.name}}</a>
                    <a>{{item.course}}</a>
                    <a>{{item.price}}</a>
                </div>
                <div class="restaurantMenu--name--description">
                    <a>{{item.description}}</a>
                </div>
                <div class="restaurantMenu--name--buttons">
                    <a href="{{ url_for('editMenuItem', restaurant_id=restaurant.id, menuItem_id=item.id) }}">Edit</a>
                    <a href="{{ url_for('deleteMenuItem', restaurant_id=restaurant.id, menuItem_id=item.id) }}">Delete</a>
                </div> 
            </div>
            {% endfor %}
        </div>
        
</body>
</html>