<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Tastee</h1>
    <h3>Find the best Tasteeng restaurants around!</h3>
    <form action="{{ url_for('restaurants') }}" method="POST">
    <input name='addRestaurant' type='Submit' value='Add a restaurant'>
    </form>
    <ul>
    {% for restaurant in restaurants %}
    <li><a href="{{ url_for('showMenu', restaurant_id=restaurant.id) }}">{{restaurant.name}}</a></li>
    {% endfor %}
    </ul>
    
</body>
</html>